<div style="display: flex;justify-content: flex-endX;width: 90vw;margin-top: 40PX;">

<div style="box-shadow: 1px 3px 1px 1px; border-radius: 10px;width: 100px;height: 100px;margin: -445px auto auto 65%;"> <p style="margin-left: 20px;margin-top: -2px;"><br> $550  <br><br><br>Holidays</p></div>
<div style="box-shadow: 1px 3px 1px 1px; border-radius: 10px;width: 100px;height: 100px;margin: -445px auto auto 60px;" >  <p style="margin-left: 10px;margin-top: -2px;"> <br> $200  <br><br><br>Renovation</p></div>
<div style="box-shadow: 1px 3px 1px 1px; border-radius: 10px;width: 100px;height: 100px;margin: -445px auto auto 60px;">  <p style="margin-left: 20px;margin-top: -2px;"> <br>$820  <br><br><br>xbox</p></div>
</div>
<div  style="box-shadow: 1px 1px 1px 1px; border-radius: 10px;width: 120px;height: 140px;margin: -100px auto auto 1100px;background-color: rgba(240, 70, 28, 0.774);"><p style="margin-left: 5px;color: white;"><br><br><br><br><br> Get great <br>loan!></p> </div>
