<sidebar/>
<img src="/src/app/components/assets/674d96cd-0ef1-4a19-810c-c1bea4e12dde-removebg-preview.png" alt="">
<barre/>
<div style="background-color: rgba(0, 110, 255, 0.301);height: 30px;width: 160px;border-radius: 07px;margin-left: 10px;margin-top: -10px;">
<p style="margin-top: -290px;margin-left: 60px;align-items: center;"> <span style="color: rgba(55, 128, 238, 0.815);margin-top: 20px;">Overview</span> <br> <br>transactions <br> <br>Cards  <br><br>Invoices <br><br>Goal <br><br> Settings</p>
</div>
<switch/>

<div style="margin-left: 550px;margin-top: -200px;font-size: 13px;">
  <h1 style="color: rgba(0, 102, 255, 0.699);"> $2850.75</h1>
   <p style="margin-top: -20px;margin-left: 20px;color: rgba(0, 0, 0, 0.267);">Current balance</p>
  <h2 style="margin-left: 28px;color: rgba(47, 128, 0, 0.527);">$ 1500.50</h2>
   <p style="margin-top: -20px;margin-left: 80px;color: rgba(0, 0, 0, 0.267);">Income</p>
  <h3 style="margin-left: 58px;color: rgba(255, 14, 14, 0.548);">$ 350.60</h3>
   <p style="margin-top: -20px;margin-left: 70px;color: rgba(0, 0, 0, 0.267);">Outcome</p>
 </div>
 <history/>
 <div style="width: 450px;margin-left: 230px;">

  <div style="margin-top: -130px;">

  <hr><br>
  <hr>
</div>
</div>
<goal/>
<progressbar/>
